/* index1.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #D4E6F4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: #007bff;
    animation: fadeIn 1s ease-out forwards;
}

.upload-text {
    text-align: center;
    margin-bottom: 20px;
    animation: slideIn 1s ease-out forwards;
}

.upload-form {
    text-align: center;
}

.upload-input {
    display: inline;
}

.upload-button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #0056b3;
}

.uploaded-image {
    display: inline;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.submit-btn {
    display: block;
    margin: 20px auto;
    animation: fadeIn 1s ease-out forwards;
}

.percentage-counter {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.counter {
    font-size: 24px;
    font-weight: bold;
}

.count {
    animation: count-up 2s ease-in-out forwards;
}

/* Animations */
@keyframes count-up {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.uploaded-image {
    animation: slideIn 0.5s ease-out forwards;
}

.submit-btn {
    animation: fadeIn 1s ease-out forwards;
}
